In [7]:
import pandas as pd
import numpy as np
data = pd.read_csv('hotel_booking.csv')

In [8]:
data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [9]:
columns_to_remove = [
    'lead_time',
    'arrival_date_week_number',
    'arrival_date_day_of_month',
    'stays_in_weekend_nights',
    'stays_in_week_nights',
    'meal',
    'market_segment',
    'distribution_channel',
    'is_repeated_guest',
    'previous_cancellations',
    'previous_bookings_not_canceled',
    'booking_changes',
    'deposit_type',
    'agent',
    'company',
    'days_in_waiting_list',
    'customer_type',
    'adr',
    'required_car_parking_spaces',
    'total_of_special_requests',
    'name',
    'email',
    'phone-number',
    'credit_card'
]

# Remove the specified columns
df_cleaned = data.drop(columns=columns_to_remove)

# Save the cleaned DataFrame to a new CSV file
cleaned_file_path = "hotel_booking_cleaned.csv"
df_cleaned.to_csv(cleaned_file_path, index=False)

cleaned_file_path

'hotel_booking_cleaned.csv'

In [10]:
dataset = pd.read_csv('hotel_booking_cleaned.csv')
dataset

,hotel,is_canceled,arrival_date_year,arrival_date_month,adults,children,babies,country,reserved_room_type,assigned_room_type,reservation_status,reservation_status_date
0,Resort Hotel,0,2015,July,2,0.0,0,PRT,C,C,Check-Out,2015-07-01
1,Resort Hotel,0,2015,July,2,0.0,0,PRT,C,C,Check-Out,2015-07-01
2,Resort Hotel,0,2015,July,1,0.0,0,GBR,A,C,Check-Out,2015-07-02
3,Resort Hotel,0,2015,July,1,0.0,0,GBR,A,A,Check-Out,2015-07-02
4,Resort Hotel,0,2015,July,2,0.0,0,GBR,A,A,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,2017,August,2,0.0,0,BEL,A,A,Check-Out,2017-09-06
119386,City Hotel,0,2017,August,3,0.0,0,FRA,E,E,Check-Out,2017-09-07
119387,City Hotel,0,2017,August,2,0.0,0,DEU,D,D,Check-Out,2017-09-07
119388,City Hotel,0,2017,August,2,0.0,0,GBR,A,A,Check-Out,2017-09-07
119389,City Hotel,0,2017,August,2,0.0,0,DEU,A,A,Check-Out,2017-09-07

In [11]:
dataset['room_status'] = np.where(dataset['reserved_room_type'] == dataset['assigned_room_type'],"Desired","Un-Desired")

In [12]:
dataset

,hotel,is_canceled,arrival_date_year,arrival_date_month,adults,children,babies,country,reserved_room_type,assigned_room_type,reservation_status,reservation_status_date,room_status
0,Resort Hotel,0,2015,July,2,0.0,0,PRT,C,C,Check-Out,2015-07-01,Desired
1,Resort Hotel,0,2015,July,2,0.0,0,PRT,C,C,Check-Out,2015-07-01,Desired
2,Resort Hotel,0,2015,July,1,0.0,0,GBR,A,C,Check-Out,2015-07-02,Un-Desired
3,Resort Hotel,0,2015,July,1,0.0,0,GBR,A,A,Check-Out,2015-07-02,Desired
4,Resort Hotel,0,2015,July,2,0.0,0,GBR,A,A,Check-Out,2015-07-03,Desired
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,2017,August,2,0.0,0,BEL,A,A,Check-Out,2017-09-06,Desired
119386,City Hotel,0,2017,August,3,0.0,0,FRA,E,E,Check-Out,2017-09-07,Desired
119387,City Hotel,0,2017,August,2,0.0,0,DEU,D,D,Check-Out,2017-09-07,Desired
119388,City Hotel,0,2017,August,2,0.0,0,GBR,A,A,Check-Out,2017-09-07,Desired
119389,City Hotel,0,2017,August,2,0.0,0,DEU,A,A,Check-Out,2017-09-07,Desired

In [14]:
conditions = [
    (dataset["adults"] == 2) & (dataset["children"] == 0) & (dataset["babies"] == 0),
    (dataset["adults"] == 1) & (dataset["children"] == 0) & (dataset["babies"] == 0)
]

# Define outputs
choices = ["Couples", "Single"]

In [15]:
dataset["guest_type"] = np.select(conditions, choices, default="Family")

In [16]:
dataset

,hotel,is_canceled,arrival_date_year,arrival_date_month,adults,children,babies,country,reserved_room_type,assigned_room_type,reservation_status,reservation_status_date,room_status,guest_type
0,Resort Hotel,0,2015,July,2,0.0,0,PRT,C,C,Check-Out,2015-07-01,Desired,Couples
1,Resort Hotel,0,2015,July,2,0.0,0,PRT,C,C,Check-Out,2015-07-01,Desired,Couples
2,Resort Hotel,0,2015,July,1,0.0,0,GBR,A,C,Check-Out,2015-07-02,Un-Desired,Single
3,Resort Hotel,0,2015,July,1,0.0,0,GBR,A,A,Check-Out,2015-07-02,Desired,Single
4,Resort Hotel,0,2015,July,2,0.0,0,GBR,A,A,Check-Out,2015-07-03,Desired,Couples
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,2017,August,2,0.0,0,BEL,A,A,Check-Out,2017-09-06,Desired,Couples
119386,City Hotel,0,2017,August,3,0.0,0,FRA,E,E,Check-Out,2017-09-07,Desired,Family
119387,City Hotel,0,2017,August,2,0.0,0,DEU,D,D,Check-Out,2017-09-07,Desired,Couples
119388,City Hotel,0,2017,August,2,0.0,0,GBR,A,A,Check-Out,2017-09-07,Desired,Couples
119389,City Hotel,0,2017,August,2,0.0,0,DEU,A,A,Check-Out,2017-09-07,Desired,Couples

In [17]:
dataset.to_csv("hotel_booking_cleaned.csv",index=False)